@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1476005368_4495497.eot');
  src: url('//at.alicdn.com/t/font_1476005368_4495497.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_1476005368_4495497.woff') format('woff'), url('//at.alicdn.com/t/font_1476005368_4495497.ttf') format('truetype'), url('//at.alicdn.com/t/font_1476005368_4495497.svg#iconfont') format('svg');
  
  /* project id 158349 */
}
.iconfont {
  font-family: 'iconfont';
}
.wb-bytb-alqqgsdzscard-m .module-wrap {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Microsoft Yahei', 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', sans-serif;
  font-size: 0.26666667rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .clearfix {
  zoom: 1;
}
.wb-bytb-alqqgsdzscard-m .module-wrap img {
  display: block;
  border: 0;
  width: 100%;
}
.wb-bytb-alqqgsdzscard-m .module-wrap a {
  display: block;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con {
  background: url('https://gw.alicdn.com/tps/TB1.veeOFXXXXXDXFXXXXXXXXXX-750-417.png') repeat-y center top;
  background-size: 100%;
  width: 10rem;
  margin-top: 0.53333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 {
  width: 9.46666667rem;
  margin: 0 auto;
  /*30秒刷新*/
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .updata_btn {
  width: 4.77333333rem;
  height: 0.8rem;
  margin: 0 auto;
  padding-bottom: 0.4rem;
  display: none;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .renovate_btn {
  width: 6.73333333rem;
  height: 0.93333333rem;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -3.36rem;
  z-index: 9999;
  display: none;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul {
  /*回应了圣诞心愿*/
  /*发起圣诞限量抢购*/
  /*直播扫货*/
  /*送给小朋友的礼物*/
  /*尖货*/
  /*品牌*/
  /*求购*/
  /*呼叫圣诞老人*/
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li {
  background: url('https://gw.alicdn.com/tps/TB1ZLOHOFXXXXXBXVXXXXXXXXXX-710-354.png') no-repeat center top;
  height: 4.72rem;
  background-size: 100%;
  position: relative;
  margin-bottom: 0.76rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .item_head {
  width: 1.06666667rem;
  height: 1.06666667rem;
  border-radius: 50%;
  border: solid #fff 1px;
  position: absolute;
  left: 4.08rem;
  top: -0.37333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .head_mz {
  width: 0.93333333rem;
  height: 0.78666667rem;
  position: absolute;
  left: 4.46666667rem;
  top: -0.53333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .item_font,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .item_font1,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .item_font2,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .item_font3 {
  color: #ffda79;
  font-size: 0.37333333rem;
  width: 3.8rem;
  height: 0.85333333rem;
  line-height: 0.85333333rem;
  overflow: hidden;
  background: url('https://gw.alicdn.com/tps/TB18T17OFXXXXaXXpXXXXXXXXXX-30-26.png') no-repeat left center;
  background-size: 0.4rem 0.34666667rem;
  padding-left: 0.50666667rem;
  position: absolute;
  left: 0.26666667rem;
  top: 0;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .item_font1,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .item_font2,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .item_font3 {
  display: none;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .item_name {
  position: absolute;
  left: 5.42666667rem;
  top: 0.22666667rem;
  font-size: 0.37333333rem;
  color: #b3780b;
  height: 0.37333333rem;
  line-height: 0.37333333rem;
  width: 4rem;
  display: block;
  overflow: hidden;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .item_name b {
  background: url('https://gw.alicdn.com/tps/TB1VNrgOFXXXXXxXXXXXXXXXXXX-21-27.png') no-repeat left center;
  background-size: 0.28rem 0.36rem;
  padding-left: 0.33333333rem;
  font-weight: normal;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_left {
  float: left;
  margin: 1.12rem 0 0 0.26666667rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_left .item_img {
  width: 3.33333333rem;
  height: 3.33333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right {
  float: right;
  margin-right: 0.72rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_title,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_title1,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_title2 {
  display: block;
  font-size: 0.45333333rem;
  color: #333;
  height: 1.2rem;
  line-height: 0.6rem;
  width: 4.8rem;
  overflow: hidden;
  margin-top: 1.12rem;
  margin-bottom: 0.12rem;
  font-weight: bold;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_title1,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_xl,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_title2,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_btn1,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_answer {
  display: none;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_price {
  display: block;
  font-size: 0.32rem;
  font-weight: bold;
  color: #e7002c;
  background: url('https://gw.alicdn.com/tps/TB1gfaGOFXXXXXzXXXXXXXXXXXX-89-31.png') no-repeat center left;
  padding-left: 1.30666667rem;
  background-size: 1.18666667rem 0.41333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_price b {
  font-size: 0.48rem;
  font-weight: normal;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_price del {
  color: #999999;
  font-size: 0.32rem;
  font-weight: normal;
  margin-left: 0.12rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_num {
  font-size: 0.32rem;
  color: #999;
  display: block;
  margin-top: 0.66666667rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_btn,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li .by_right .item_btn1 {
  width: 2.82666667rem;
  height: 0.94666667rem;
  position: absolute;
  right: 0.38666667rem;
  bottom: 0.37333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_font1 {
  display: block;
  background: url('https://gw.alicdn.com/tps/TB1v.u0OFXXXXc3XpXXXXXXXXXX-30-30.png') no-repeat left center;
  background-size: 0.4rem 0.4rem;
  padding-left: 0.48rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_title1 {
  display: block;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_title1 img {
  width: 1.24rem;
  height: 0.41333333rem;
  display: inline-block;
  margin-right: 0.06666667rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_xl {
  font-size: 0.32rem;
  color: #e81037;
  display: block;
  margin-top: 0.46666667rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_num {
  margin-top: 0;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_font,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_title,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_font2,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_title2,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_btn1,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_font3,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.two .item_answer {
  display: none;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three {
  background: url('https://gw.alicdn.com/tps/TB1MX5wOFXXXXXeapXXXXXXXXXX-710-356.png') no-repeat center top;
  background-size: 9.46666667rem 4.74666667rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_font2 {
  display: block;
  background: url('https://gw.alicdn.com/tps/TB1CiSPOFXXXXaEXVXXXXXXXXXX-30-30.png') no-repeat left center;
  background-size: 0.4rem 0.4rem;
  padding-left: 0.53333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_num {
  margin-top: 1.33333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_title2 {
  display: block;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_title2 img {
  width: 1.58666667rem;
  height: 0.41333333rem;
  display: inline-block;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_btn1 {
  display: block;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_font,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_title,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_font1,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_title1,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_btn,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_font3,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_answer,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.three .item_price {
  display: none;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.four .item_font3 {
  display: block;
  background: url('https://gw.alicdn.com/tps/TB1BVGWOFXXXXbZXFXXXXXXXXXX-30-30.png') no-repeat left center;
  background-size: 0.4rem 0.4rem;
  padding-left: 0.57333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.four .item_title {
  height: 0.6rem;
  line-height: 0.6rem;
  overflow: hidden;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.four .item_answer {
  display: block;
  font-size: 0.32rem;
  color: #999;
  width: 4.8rem;
  height: 0.82666667rem;
  line-height: 0.41333333rem;
  overflow: hidden;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.four .item_price del {
  display: none;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.four .item_num {
  margin-top: 0.53333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.four .item_font,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.four .item_font1,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.four .item_title1,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.four .item_btn1,
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li.four .item_font2 {
  display: none;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another {
  background: url('https://gw.alicdn.com/tps/TB1tEGzOFXXXXavaXXXXXXXXXXX-710-414.png') no-repeat center top;
  background-size: 9.46666667rem 5.52rem;
  height: 5.52rem;
  margin-top: -0.26666667rem;
  position: relative;
  margin-bottom: 0.66666667rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another .by_head {
  position: relative;
  margin-left: 0.22666667rem;
  padding-top: 0.14666667rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another .by_head .head {
  float: left;
  margin-right: 0.13333333rem;
  width: 0.57333333rem;
  height: 0.57333333rem;
  border-radius: 50%;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another .by_head .head_font {
  font-size: 0.37333333rem;
  color: #333;
  position: absolute;
  left: 2.49333333rem;
  top: 0.2rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another .by_title {
  font-size: 0.37333333rem;
  color: #333;
  background: url('https://gw.alicdn.com/tps/TB1mbKsOFXXXXb5apXXXXXXXXXX-62-31.png') no-repeat left center;
  background-size: 0.82666667rem 0.41333333rem;
  display: block;
  padding-left: 0.96rem;
  margin-left: 0.10666667rem;
  margin-top: 0.33333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another .sp_count {
  position: absolute;
  right: 0.2rem;
  top: 1.16rem;
  font-size: 0.32rem;
  color: #999;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another .by_sp {
  margin: 0.30666667rem auto 0;
  width: 9.2rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another .sp_con {
  float: left;
  margin-right: 0.13333333rem;
  width: 2.97333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another .sp_con .sp_img {
  width: 2.94666667rem;
  height: 2.94666667rem;
  border: 1px solid #eee;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another .sp_con .sp_xl {
  width: 2.93333333rem;
  margin-top: 0.13333333rem;
  margin-left: 0.04rem;
  display: block;
  font-size: 0.32rem;
  color: #333;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another .sp_con .sp_xl b {
  font-weight: normal;
  color: #e7002c;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another .sp_con .sp_price {
  display: none;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another.five .sp_price {
  display: block;
  font-size: 0.48rem;
  color: #e7002c;
  margin-left: 0.30666667rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another.five .sp_price b {
  font-weight: normal;
  font-size: 0.32rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another.five .sp_price del {
  font-size: 0.32rem;
  color: #999;
  margin-left: 0.13333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another.five .by_title {
  background: url('https://gw.alicdn.com/tps/TB1pJm8OFXXXXbKXpXXXXXXXXXX-62-31.png') no-repeat left center;
  padding-left: 0.97333333rem;
  background-size: 0.82666667rem 0.41333333rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_li_another.five .sp_xl {
  display: none;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_img1 {
  margin-bottom: 0.4rem;
  position: relative;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_img1 .img1 {
  width: 9.46666667rem;
  height: 1.92rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_img1 .img2 {
  width: 9.46666667rem;
  height: 2.04rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_img1 .by_link {
  width: 3.86666667rem;
  height: 0.93333333rem;
  position: absolute;
  left: 2.70666667rem;
  top: 1.92rem;
  text-indent: -999em;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_img1 .by_link1 {
  position: absolute;
  left: 3.74666667rem;
  top: 3.04rem;
  width: 1.72rem;
  height: 0.42666667rem;
  text-indent: -999em;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_img2 {
  padding-bottom: 0.50666667rem;
}
.wb-bytb-alqqgsdzscard-m .module-wrap .by_con .by_w710 .item_ul .item_img2 img {
  width: 9.34666667rem;
  height: 2.65333333rem;
}
